<!--Listing 5.12 - a partial for the site footer -->
<!--The _ before the file name is the universal convention for naming partials, and among other things makes it possible to identify all the partials in a directory at a glance.-->

<!--Listing 5.27. Replace '#' with links -->

<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>      
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
